.header{
   font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom:0px;
    border-bottom: 3px solid #585858;
    float:left;
    margin-top:-19px;
    
    width:100%;

}

a {
    color: #9A9797;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration:none;

    }


.nav{
	float:right;
    padding:20px;
    margin-right: 210px;
    margin-top:-62px;
    color:#9A9797;
    text-decoration:none;
    }
.name{
	color:white;
    background:#4aaaa5;
    padding:20px;
    width:120px;
    font-size:19px;
    text-align:center;
    margin-left:120px;
    margin-bottom:0px;
}
.part2title{
    border-bottom: 3px solid #dfdfdf;
    text-align: left;
    
    color: #4aaaa5;
    font-size: 36px;
    clear:both;
    background: white;

}
.container{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("stonehaven.png");
  clear:both;
  width:100%;
  height:700px;
  background: #dfdfdf;
}
.wrap{
width:910px;

}

.part2{
    clear:both;
    width:610px;
    padding:10px;
    border-style:groove;
    background-color:white;
    float:left;
    margin-left:126px;
    margin-top:30px;

}



}
div.gallery {
    
    margin: 10px;
    
    width:40%;
    display:inline;
}
div.gallery img{
width: 230px;

height: auto;

}
div.desc{
padding:15px;
text-align:center;
color:white;
background:#4aaaa5;
width:200px;
margin-bottom:10px;


}
.left{
    clear:both;
    float:left;
}

.right{

    float:right;
}


.part3{
    width:230px;
    padding:10px;
    border-style:groove;
    float: right;
    background-color:white;
    position:relative;
    margin-right:-159px;
    margin-top:30px;
    margin-bottom:38px;
}
.connect{
    color: #4aaaa5;
    text-align: center;
    border-bottom: 3px solid lightgrey;
    font-size:18px;
    }

.git
{
    margin-top: 35px;
    width:70px;
    float:left;
    

}
.link{
  margin-top:17px;
    width:70px;
    
    
}
.stack{
    width:60px;
    margin-bottom:4px;
    
}

.footer {

	background:#666666;
    color:white;
    text-align:center;
    padding:30px;
    font-size:8px;
    border-top: 4px solid #4aaaa5;
    clear:both;
    width:100%;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
